body {
    background-image: url("dragon.jpg");
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #4870dd; 
  color: #ad7d7d;
  margin: 0 auto;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  font-family: cursive;
  font-size: 16px;
  
}

#game:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out;
}


#controls {
  border: 1px black solid;
  padding: 5px;
}

#button1, #button2, #button3 {
  border-radius: 10px;
  font-family: cursive;
  font-size: 14px;
  background-color: #cdf712;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#button1:hover, #button2:hover, #button3:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}

#location {
  border: 1px black solid;
  color: black;
  padding: 5px;
  background-color: yellow;
}

#la {
  background-color: gray;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
